$('#new_story').remove(); 
$('#new_link').show(); 
var html = "<li><a href='/upvote/<%= @story.id %>'><img src='https://news.ycombinator.com/grayarrow.gif' alt='up arrow' /></a><a href='<%= @story.url %>'><%= @story.title %></a><br /><span class='small_gray'><%= @story.up_votes %> | <%= @story.created_at %> | <a href='/<%= @story.id %>/delete'>DELETE</a> | <a href='/<%= @story.id %>/edit'>EDIT</a> | <a href='/item/<%= @story.id %>'><%= @story.comments.count %> Comments</a></span></li>";
$('#stories').append(html); 
$('#new_story').hide();

